# Node
node_modules

# Environment variables
.env
.env.local
.env.*.local
backend/.env
frontend/.env
blog-frontend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build artifacts
build/
dist/

# Kubernetes secrets (do not commit sensitive info)
*.secret

# Docker
.dockerignore
